<header>
	<a class="logo-title spa-link" href="/">
		<img class="logo" src="/static/images/logo.svg" alt="Logo"/>
		<h1>FRUIT_PONG</h1>
	</a>
	<nav>
		<ul class="navitems text-m">
			{% if request.user.is_authenticated %}
			<li class="navelem">
				<div class="dropdown">
					<div class="dropdown-header">
						<img class="avatar small" src="{{ user.profile.avatar }}">
						<a href="javascript:void(0)" class="username">{{ user.profile.name }}</a>
					</div>
					<div class="dropdown-content">
						<a href="{% url 'profile' %}">My Profile</a>
						<a href="{% url 'profile-edit' %}">Edit Profile</a>
						<a href="{% url 'profile-settings' %}">Settings</a>
						<a href="{% url 'user_logout' %}">Log Out</a>
					</div>
				</div>

			{% else %}
			<li class="navelem">
				<a href="{% url 'login' %}" class="login">Login</a>
				<span class="separator">|</span>
				<a href="{% url 'register' %}?next={% url 'profile-onboarding' %}" class="signup">Signup</a>
			</li>
			{% endif %}
		</ul>
	</nav>
</header>
