{% extends 'layouts/box.html' %}

<style>
	.members-section {
		margin-top: 20px;
	}

	.member-item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid #ccc;
	}

	.member-info {
		display: flex;
		align-items: center;
		gap: 10px;
		padding-top: 10px;
		padding-bottom: 10px;
	}

	.member-avatar {
		width: 56px; /* équivalent de `w-14` */
		height: 56px; /* équivalent de `h-14` */
		border-radius: 50%; /* équivalent de `rounded-full` */
		object-fit: cover;
	}

	.member-details {
		display: flex;
		flex-direction: column;
	}

	.member-name {
		font-weight: bold;
	}

	.member-username {
		font-size: 0.875rem; /* équivalent de `text-sm` */
		font-weight: 300; /* équivalent de `font-light` */
		color: #4B5563; /* équivalent de `text-gray-600` */
	}

	.checkbox-container {
		padding-right: 16px; /* équivalent de `pr-4` */
	}

	.checkbox {
		cursor: pointer;
		border-radius: 4px;
		border: 1px solid #ccc;
		padding: 5px;
	}

	.submit-button {
		margin-top: 10px; /* équivalent de `mt-2` */
		padding: 10px 20px;
		cursor: pointer;
		background-color: #f0f0f0;
		border: none;
		border-radius: 4px;
	}

	.delete-link {
		display: flex;
		justify-content: flex-end;
		margin-top: 16px; /* équivalent de `mt-4` */
		color: #9CA3AF; /* équivalent de `text-gray-400` */
		text-decoration: none;
	}

	.delete-link:hover {
		color: #EF4444; /* équivalent de `hover:text-red-500` */
	}
</style>


{% block content %}

<h1>Edit Chat</h1>

<form method="post">
	{% csrf_token %}
	{{ form }}

	<div class="members-section">
		<h2>Members</h2>
		{% for member in chat_group.members.all %}
		<div class="member-item">
			<div class="member-info">
				<img class="member-avatar" src="{{ member.profile.avatar }}" alt="Avatar de {{ member.profile.name }}" />
				<div class="member-details">
					<span class="member-name">{{ member.profile.name }}</span>
					<span class="member-username">@{{ member.username }}</span>
				</div>
			</div>

			{% if member != chat_group.admin %}
			<div class="checkbox-container">
				<input type="checkbox" name="remove_members" value="{{ member.id }}" class="checkbox" />
			</div>
			{% endif %}
		</div>
		{% endfor %}
	</div>

	<button class="submit-button" type="submit">Update</button>
</form>

<a href="{% url 'chatroom-delete' chat_group.group_name %}" class="delete-link">Delete Chatroom</a>
{% endblock %}