:root {
	--white1: #ffffff;
	--white2: #f0f0f0;
	--white3: #d0d0d0;
	--black1: #222222;	
	--black2: #333333;
	--black3: #434343;
	--fruit-red: #EB6666;
	--fruit-orange: #FFA763;
	--fruit-yellow: #F5DA62;
	--fruit-green: #A1E97D;
	--fruit-blue: #80B2EE;
  }
  